- ui_title = URI.encode('阅读攻略')
- articles.each_with_index do |article, index|
  - unless @is_ipad
    %p
      %a{href: "/yys/article/#{article.id}/"} #{article.title}
    %p
      %small
        - article.tags.split(',').each do |tag|
          %span.label.label-info.tag-label
            %a{href: "/yys/tag/#{URI.encode(tag)}/}"} #{tag}
        - if article.category_id == 4
          %span.label.label-success.tag-label
            %a{href: "/yys/article_shipin/"} 视频

  - else
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3
          %a{href: "/yys/article/#{article.id}/", title: "#{article.title}"}
            .article_cover{style: "background-image:url(#{article.img_url}); height: 150px"}
        .col-md-9.col-sm-9.col-xs-9
          %a{href: "/yys/article/#{article.id}/", title: "#{article.title}"}
            %p.list_title #{article.title}
          %a{href: "/yys/article/#{article.id}/", title: "#{article.title}"}
            %p.desc{style: "color:black"} #{article.description}
          %p.desc
            - article.tags.split(',').each do |t|
              %span.label.label-info.pull-right.tag-label
                %a{href: "/yys/tag/#{URI.encode(t)}/",style: "color:white"} #{t}
            - if article.category_id == 4
              %span.label.label-success.tag-label
                %a{href: "/yys/article_shipin/"} 视频

  .split
- unless @no_paginate
  #scrolling.hide
    = will_paginate(articles)
